
.markdown-section  .list_of_terms blockquote {
    border-left-color: rgba(210, 105, 30, 0.411);
    color: chocolate;
    margin: 0;
    padding-left: 20px;
    font-weight: 900;
    font-size: 1.2em;
}

.markdown-section  .list_of_terms blockquote p {
    margin: 0.2em 0;
}